node_modules
.vscode

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

google-cloud-sdk
/local-cloud-function/.env
/local-cloud-function/google-cloud-cli-linux-x86_64.tar.gz